@model IEnumerable<RSM.BOL.Models.Owner>

@{
    ViewBag.Title = "ViewOwners";
}

<h2>ViewOwners</h2>

<p>
    <a href="@Url.Action("AddOwner", "Owner")" class="btn btn-success">
        <strong>Create New </strong>&nbsp;&nbsp;<i class="fa fa-plus"> </i>
    </a>
</p>


<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("_OwnerPartialView", item@*, new ViewDataDictionary { { "PropertyID", ViewBag.PropertyID } }*@)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

